@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background:
      radial-gradient(circle,
        oklch(0.15 0.2 330 / 0),
        oklch(0.15 0.2 330 / 1)),
      linear-gradient(344deg in oklch,
        oklch(0.3 0.37 310),
        oklch(0.35 0.37 330),
        oklch(0.3 0.37 310));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-box {
  min-width: 250px;
}

/* box border */

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}


.card-box {
  animation: spin 2.5s infinite linear paused;
  background:
    linear-gradient(to bottom,
      oklch(0.1 0.2 240 / 0.95),
      oklch(0.1 0.2 240 / 0.95)) padding-box,
    conic-gradient(from var(--bg-angle) in oklch longer hue,
      oklch(0.85 0.37 0) 0 0) border-box;
  border: 3px solid transparent;
}

.anim {
  margin-right: 5vw;
}

/* small screen  */
@media screen and (max-width: 768px) {
  .anim {
    margin-right: 10vw;
  }
}